.heading {
    text-align: center;
    margin: 2%;
    width: 100%;
    padding: 2%;
    float: right;
}
.inputField{
    text-align: center;
    margin: 0.5%;
    margin-left: 26%;
    margin-right: 26%;
    width: 50%;
    padding: 0.5%; 
}